USE [master]
GO
/****** Object:  Database [BoVoyage]    Script Date: 14/06/2018 14:12:14 ******/
CREATE DATABASE [BoVoyage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bo_Voyage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bo_Voyage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bo_Voyage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bo_Voyage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BoVoyage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BoVoyage]
GO
USE [BoVoyage]
GO
/****** Object:  Table [dbo].[AgencesDeVoyages]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencesDeVoyages](
	[IdAgence] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AgenceDeVoyage] PRIMARY KEY CLUSTERED 
(
	[IdAgence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[Civilite] [varchar](50) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[DateNaissance] [datetime] NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Continent] [varchar](50) NOT NULL,
	[Pays] [varchar](50) NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Destination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DossiersReservations]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DossiersReservations](
	[IdDossier] [int] IDENTITY(1,1) NOT NULL,
	[IdVoyage] [int] NOT NULL,
	[NumeroUnique] [int] NOT NULL,
	[NumeroCarteBancaire] [varchar](50) NOT NULL,
	[PrixTotal] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DossierReservation_1] PRIMARY KEY CLUSTERED 
(
	[IdDossier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[IdParticipant] [int] IDENTITY(1,1) NOT NULL,
	[NumeroUnique] [int] NOT NULL,
	[Civilite] [varchar](50) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[DateNaissance] [datetime] NOT NULL,
	[Age] [int] NOT NULL,
	[IdDossier] [int] NOT NULL,
	[Reduction] [float] NOT NULL,
 CONSTRAINT [PK_Participants] PRIMARY KEY CLUSTERED 
(
	[IdParticipant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voyages]    Script Date: 14/06/2018 14:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voyages](
	[IdVoyage] [int] IDENTITY(1,1) NOT NULL,
	[IdAgence] [int] NOT NULL,
	[DateAller] [datetime] NOT NULL,
	[DateRetour] [datetime] NOT NULL,
	[PlacesDisponibles] [int] NOT NULL,
	[TarifToutCompris] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Voyage] PRIMARY KEY CLUSTERED 
(
	[IdVoyage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DossiersReservations]  WITH CHECK ADD  CONSTRAINT [FK_DossiersReservations_Voyages] FOREIGN KEY([IdVoyage])
REFERENCES [dbo].[Voyages] ([IdVoyage])
GO
ALTER TABLE [dbo].[DossiersReservations] CHECK CONSTRAINT [FK_DossiersReservations_Voyages]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participants_DossiersReservations1] FOREIGN KEY([IdDossier])
REFERENCES [dbo].[DossiersReservations] ([IdDossier])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participants_DossiersReservations1]
GO
ALTER TABLE [dbo].[Voyages]  WITH CHECK ADD  CONSTRAINT [FK_Voyages_AgencesDeVoyages] FOREIGN KEY([IdAgence])
REFERENCES [dbo].[AgencesDeVoyages] ([IdAgence])
GO
ALTER TABLE [dbo].[Voyages] CHECK CONSTRAINT [FK_Voyages_AgencesDeVoyages]
GO
USE [master]
GO
